[Unit]
Description=JardimGIS - Sistema de Controle Geográfico de Árvores - TCE-GO
After=network.target

[Service]
User=root
WorkingDirectory=/var/softwaresTCE/JardimGIS
ExecStart=/var/softwaresTCE/JardimGIS/scripts/run.sh
Restart=always
RestartSec=9
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
